---
title: Player Page
---
%header.main
  .container
    %h1#title
      %a(href="/" title="PlayerPro - Home")
        %span PlayerPro

    %img#dummy-toolbar(src="/images/demo-toolbar.png")
/  %form#search
/    %input(type="text" placeholder="Search for a player or team")
/
/  %section.demo-toolbar
/    %a(href="#apps")
/      Apps
/
/  %a(href="#favourites")
/      Favourites
/
/   .user
/     %img(src="images/user-photo.jpg")
/     .username
/       Mike Kennett

/    %section.login-menu
/      %h1 Log In
/
/      - # Log in form
/      %form.menu(action="/sign-in")
/        %a.facebook-button
/          %img(src="/images/facebook-button-icon.png" alt="Facebook")
/          %span
/            log in with
/            %strong Facebook
/
/        .divider
/          or
/
/        %input(placeholder="Email" type="text" name="email" id="sign-in-email")
/        %input(placeholder="Password" type="password" name="password" id="sign-in-passowrd")
/        %input.btn(type="submit" value="Log In")
/
/        %footer
/          %a.sign-up(href="/sign-up")
/            Sign Up
/          %a.forgot-password(href="/forgot-password")
/            forgot password?
    
.page
  / table-cell
  .container

    / regular full-width div
    .carousel
      %h1 Fernando Torres
      .images
        - (0..8).each do |i|
          %img(alt="picture featuring Fernando Torres" src="/images/torres/#{i}.jpg")

    / Layout table-view
    .player-layout

      .left-data-col


        %figure.card-sidebar
          %img(src="/images/fernando.jpg" alt="Fernando Torres")
          %figcaption
            %img.team(src="/images/team-chelsea.png" alt="Chelsea")
            .number
              %img.bg(src="/images/icon-number-badge.png" alt="background for player number")
              %span 9
            %h1 Fernando Torres
            .stats
              .sport
                %img(src="/images/sport-soccer.png" alt="Football")
              .games
                Games
                %em 231
              .won
                Won
                %em 128
              .fans
                Fans
                %em 156k

        / player data
        %dl
          = define "Age", "29"
          = define "Nationality", "Spain"
          = define "Height", "1.83m (6'0\")"
          = define "Position", "Striker"
          = define "Number", "9"
          = define "Club", "Chelsea"

        / fan count box
        .followers
          %h4
            Fans
            2,573,462
          .twitter
            %img(src="/images/icon-twitter.png")
            %span 2,478,901
            %a.follow Follow
          .twitter
            %img(src="/images/icon-facebook.png")
            %span 577,401
            %a.follow Like

        / tower add
        .ad.tower
          %img(src="/images/add-tower.jpg")


      .center-col

        .carousel-preview
          - (0..8).each do |i|
            %a(href="#carousel/#{i}.jpg" class="#{'active' if i == 3}")
              %img(alt="picture featuring Fernando Torres" src="/images/torres/#{i}.jpg")

        %hr

        .tabbed
          %section(title="Latest")
            
            %img#center-shim(src="/images/image-shiv-center.png")

            :markdown
              Prototype in progress. Features a fluid, responsive design: try resizing your browser window.

              Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
             
              Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.

          %section(title="Bio")
            %h2 Bio
            :markdown
              Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
             
              Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.

          %section(title="Statistics")
            %h2 Statistics
            :markdown
              Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
             
              Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.

          %section(title="Photos")
            %h2 Photos
            :markdown
              Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
             
              Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.

          %section(title="Video")
            %h2 Video
            :markdown
              Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
             
              Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.

          %section(title="Shop")
            %h2 Shop
            :markdown
              Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
             
              Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.

      .right-aux-col
        %img(src="/images/add-357-121.jpg")
        %img(src="/images/add-362-302.jpg")
        %img(src="/images/upcoming-games.png")



%footer.main
  .container
    %nav
      %ul
        = nav_link "About", "http://www.angel.co/playerpro"
        = nav_link "Press Pack", "https://www.dropbox.com/sh/scao0e3mnu43y4k/tmreo2ftxx"
        = nav_link "Investors", "http://www.angel.co/playerpro"
        = nav_link "Careers", "https://angel.co/playerpro#recruiting"
        = nav_link "Developers", "/developers/"
        = nav_link "Like us on Facebook", "http://www.facebook.com/getplayerpro"
        = nav_link "Follow us on Twitter", "http://www.twitter.com/getplayerpro"
    .copyright
      %p Sportsquid, Inc. © 2013
    .legal
      :markdown
        By using PlayerPro you agree with our [User Agreement](http://www.getplayerpro.com/)
        and [Privacy Policy](http://www.getplayerpro.com/).


