---
title: Player Page
---

%header.main
  .container
    %h1#title
      %a(href="/" title="PlayerPro - Home")
        %span PlayerPro

    %section.login-menu
      %h1 Log In

      - # Log in form
      %form.menu(action="/sign-in")
        %a.facebook-button
          %img(src="/images/facebook-button-icon.png" alt="Facebook")
          %span
            log in with
            %strong Facebook

        .divider
          or

        %input(placeholder="Email" type="text" name="email" id="sign-in-email")
        %input(placeholder="Password" type="password" name="password" id="sign-in-passowrd")
        %input.btn(type="submit" value="Log In")

        %footer
          %a.sign-up(href="/sign-up")
            Sign Up
          %a.forgot-password(href="/forgot-password")
            forgot password?
    

.page
  .container

    .left-data-col
      %figure.card-sidebar
        %img(src="/images/fernando.jpg" alt="Fernando Torres")
        %figcaption
          %img.team(src="/images/team-chelsea.png" alt="Chelsea")
          .number
            %img.bg(src="/images/icon-number-badge.png" alt="background for player number")
            %span 9
          %h1 Fernando Torres
          .stats
            .sport
              %img(src="/images/sport-soccer.png" alt="Football")
            .games
              Games
              %em 231
            .won
              Won
              %em 128
            .fans
              Fans
              %em 156k



    .center-col

      .carousel
        %h1 Fernando Torres
        %img(alt="demo" src="/images/fernando.jpg")

      .tabbed
        %section(title="Wall")
          %h2 Wall
          :markdown
            Prototype in progress. Features a fluid, responsive design: try resizing your browser window.

            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
           
            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.

        %section(title="History")
          %h2 History
          :markdown
            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
           
            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.

        %section(title="News")
          %h2 News &amp; Events
          :markdown
            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
           
            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.

        %section(title="Bio")
          %h2 Biography
          :markdown
            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
           
            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.

    .right-aux-col
      %h1 right col


%footer.main
  .container
    %nav
      %ul
        = nav_link "About", "http://www.angel.co/playerpro"
        = nav_link "Press Pack", "https://www.dropbox.com/sh/scao0e3mnu43y4k/tmreo2ftxx"
        = nav_link "Investors", "http://www.angel.co/playerpro"
        = nav_link "Careers", "https://angel.co/playerpro#recruiting"
        = nav_link "Developers", "/developers/"
        = nav_link "Like us on Facebook", "http://www.facebook.com/getplayerpro"
        = nav_link "Follow us on Twitter", "http://www.twitter.com/getplayerpro"
    .copyright
      %p Sportsquid, Inc. © 2013
    .legal
      :markdown
        By using PlayerPro you agree with our [User Agreement](http://www.getplayerpro.com/)
        and [Privacy Policy](http://www.getplayerpro.com/).


